* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DBZ";
  src: url(Saiyan-Sans.ttf);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "DBZ";
  background-image: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 26, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 5rem;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  color: #525050;
}

.fighters {
  background-image: url(ring.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr;
  position: relative;
  border-radius: 12px;
  #char-name {
    background-image: linear-gradient(
      45deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 26, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    color: #f7e210;
    font-size: 5rem;
    font-weight: 400;
    padding: 15px;
    top: 30px;
    position: absolute;
    border-radius: 12px;
    margin-left: 20px;
  }
  #char2-name {
    background-image: linear-gradient(
      45deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(121, 9, 26, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    color: #f7e210;
    font-size: 5rem;
    font-weight: 400;
    padding: 15px;
    top: 30px;
    position: absolute;
    border-radius: 12px;
    margin-right: 20px;
    grid-column: 4 / 5;
  }
  #char-image {
    max-height: 300px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-left: 3rem;
  }
  #char2-image {
    max-height: 300px;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin-right: 3rem;
  }
  #char-ki,
  #char-maxki,
  #char-race,
  #char-affiliation,
  #char2-ki,
  #char2-maxki,
  #char2-race,
  #char2-affiliation {
    font-size: 2rem;
  }
}

.stats {
  background-image: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 26, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #f7e210;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #fff;
  padding: 10px;
  height: 60%;
  border-radius: 12px;
  margin-left: 20px;
}
.stats2 {
  background-image: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 26, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #f7e210;
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  background-color: #fff;
  padding: 10px;
  height: 60%;
  border-radius: 12px;
  margin-right: 20px;
}

.character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.character {
  border: 1px solid orangered;
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  background-image: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 26, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.character img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

#fightBtn, #resetBtn {
    padding: 10px;
    font-family: 'DBZ';
    font-size: 3rem;
    border-radius: 8px;
    margin: 0 auto;
}

.buttons {
    justify-self: center;
    margin-bottom: 2rem;
}

#winner {
    font-size: 3rem;
    text-align: center;
}

.footer p {
  justify-self: center;
  margin-bottom: 3rem;
  color: #fff;
  font-size: 3rem;
  a {
    color: orangered;
  }
}